@CHARSET "UTF-8";
body{
	background-image: url("/resources/img/singha.jpg");
	background-size: cover;
	background-color: hsla(0,0%,100%,0.50);
	background-repeat: no-repeat;
	color:white;
	width:101%;
}
li{
	list-style:none;
	list-style-image: url("/resources/img/user-temp2.jpg");
	list-style-position:inside;
	display:inline-block;
	margin-left:80%;
	
}
.error-content{
	float:left;
}
.headline{
	float: left;
    font-size: 100px;
    font-weight: 300;
}
.text-yellow{
	color:yellow;
}
li:before{
	
	content:'>';
}
.content{
	color:white;
	
	
}