@CHARSET "UTF-8";

.hv:hover{
	text-decoration: underline;
	cursor:pointer;
	
}
.box box-info {
    -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);
}
.currentPage{
	background: green;
}
.searchDiv{
	background:white;
	background-size:cover;
	display:inline-block;
	border-style:solid;
	border-width:0.5px;
	border-radius:5px;
	
	
}
.searchDiv .type{
	border-radius:5px;
	border-style:none;
	
}
.searchDiv input{
	border-radius:5px;
	border-style:none;
	
}

.slowFly-in{
	-webkit-animation:slowFlyIn;
	-webkit-animation-duration:3000ms;
	
}

tr {
   line-height: 45px;
   min-height: 45px;
   height: 45px;
}
@-webkit-keyframes slowFlyIn{
	0%{
		-webkit-transform: scale(7) rotate(90deg) translateY(200%);
		-opacity:0.3;
		z-index:999;
	
	}
	25%{
		-webkit-transform scale(6) translateY(200%);
		opacity:0.3;
		z-index:999;
	}
	50%{
		-webkit-transform scale(6) rotate(45deg) translateY(150%);
		opacity:0.3;
		z-index:999;
	}
	100%{ 
		-webkit-transform scale(1) rotate(0deg) translateY(100%);
		opacity:1;
		z-index:0;
	}
	
}
.fly-InContent{
	-webkit-animation:flyIntoContent;
	-webkit-animation-duration:1500ms;
	
}
@-webkit-keyframes flyIntoContent{
	0%{
		-webkit-transform: scale(4) rotate(45deg) translateX(50%);
		-opacity:0.2;
		
	}
	25%{
		-webkit-transform scale(3) roatate(30deg);
	}
	50%{
		-webkit-transform scale(2) rotate(15deg);
	}
	100%{
		-webkit-transform scale(1) rotate(0deg) translateX(0%);
	
	}

}
.fly-OutContent{
	-webkit-animation:flyOutContent;
	-webkit-animation-duration:1500ms;
}
@-webkit-keyframes flyOutContent{
	0%{
		-webkit-transform: scale(4) rotate(0deg) translateX(0px);
	}
	25%{
		-webkit-transform scale(2) rotate(-15deg) translateX(-10%);
	}
	50%{
		-webkit-transform scale(3) rotate(-30deg) translateX(-30%);
	}
	100%{
		-webkit-transform scale(4) rotate(-45deg) translateX(-100%);
		opacity:0.2;
	}
	
}